* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#p1{
    color: white;
    text-align: center;
}

.pMids{
    background-color: white;
    padding: 1em 5em;
    margin: 1em 0;
}


#bground{
    height:100%;
    width:100%;
    position: fixed;
}

/*other stuffs*/
#content{
    width: 100%;
    margin: 0 auto;
    position: absolute;
}

.gallery {
  background-color: white;
  width: 100%;
  margin: 0 auto;
}

.gallery-cell {
  width: 100%;
  /*background: #8C8;*/
}

.cell-content {
  text-align: center;
  margin: 1em 8em;
  font-size: 1.2em;
}

.cell-image{
    width: 18%;
    display: block;
    margin: 1em auto 0 auto;
}


@media all and (max-width: 900px) {
	/*Woo a media query*/
 	#bground{
        height:100%;
        width:auto;
        position: fixed;
    }
    
    .pMids{
        padding: 0.5em 1em;
    }
    
    .gallery{
        width: 100%;
    }
}

@media all and (max-width: 600px) {
	/*Woo a media query*/
 	#bground{
        height:100%;
        width:auto;
        position: fixed;
    }
    
    .gallery{
        width: 100%;
    }
    .cell-content{
        margin: 0.5em;
        font-size: 1em;
    }
    .cell-image{
        width: 50%;
    }
}
